//.gitignore (raíz)
node_modules
**/node_modules

package-lock.json

.vite
**/.vite

.env
**/.env
.env.*.local
**/.env.*.local
.env copy

snapshots/**
snapshots/*.txt
snapshots/*.json

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

scripts/*.jsx
scripts/*.js
src/scripts/**.js
frontend/scripts/**.js
backend/scripts/**.js

**/styleguide/StyleGuidePage.jsx


.copilot-temp
vscode/
.githhub/
.github/copilot-instructions.md
.qodo/
.TODO.md
docs/**.md
docs/*.md
docs/***.md

docs/misDOCS/*.md
dist/
frontend/dist/
package-lock.json
**/package-lock.json

backend/backend.log



